<nav>
  {{#if loggedIn}}
    <a href="/dashboard">dashboard</a>
    <button id="logout">Logout</button>
  {{else}}
    <a href="/login">Login/Signup</a>
</nav>
  {{/if}}
{{!-- <script src="/js/logout.js"></script> --}}