<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <header>
    <h1>
        <a href="/">Tech Blog</a>
    </h1>
    {{> navbar}}
    </header>
    <main>
        {{{body}}}
    </main>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>
