<section>
  <h2>Create New Blog Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title"> Title:</label>
      <input type="text" name="post-title" id="post-title" />
    </div>
    <div>
      <label for="post-text">Text:</label>
      <input type="text" name="post-text" id="post-text" />
    </div>
    <button type="submit">Create</button>
  </form>
</section>

<section>
    <h2>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>

<script src="/js/add-post.js"></script>